/*<---------main------------>*/
html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    font-family:'poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background: #a400e0;
    color: #fff;
}